body {
	margin: 0;
	padding: 0;
	position: relative;

	background-color: #eee;
	overflow: auto;

	font-family: 'Lato', tahoma, arial;
	font-size: 15px;
	color: #404040;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', tahoma, arial;
}

/**
 * Transition General Control
 */
html,
body,
.panel,
.sidebar {
	-webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}


/**
 * sidebar
 */
.sidebar {
	width: 250px;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: #212121;
	color: #fff;
}
.sidebar > h3 {
	text-align: center;
}

.sidebar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav > li {
	margin: 0;
	padding: 6px 6px;
	display: block;
	position: relative;

	list-style-type: none;
}
.sidebar-nav > li > span {
	position: absolute;
	top: 10px;
	left: 35px;
}
.sidebar-nav > li > i.icon-right {
	position: absolute;
	top: 10px;
	right: 15px;
}

.sidebar-nav-sub {
	margin: 0;
	padding: 0;
	display: none;
	list-style: none;
	background-color: #424242;
}
.sidebar-nav-sub > li {
	margin: 0;
	padding: 7px 10px 7px 35px;
	font-size: 15px;
	list-style-type: none;
}

.sidebar-nav > li:hover,
.sidebar-nav > li:active,
.sidebar-nav > li.active,
.sidebar-nav-sub > li:hover,
.sidebar-nav-sub > li:active,
.sidebar-nav-sub > li.active {
	background-color: #e96656;
	cursor: pointer;
}


/**
 * navibar
 */
.navibar {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0 0 0 250px; 
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #bb5244;

	-webkit-transition: all .1s ease-out;
         -o-transition: all .1s ease-out;
            transition: all .1s ease-out;
}

.navibar-nav {
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	list-style: none;
}

.navibar-nav > li {
	height: 100%;
	margin: 0;
	padding: 12px 10px;
	display: inline-block;
	float: left;

	color: #fff;
	
	list-style-type: none;
}

.navibar-nav > li > i {
	margin: 0;
	padding: 0;
}

.navibar-nav > li:hover,
.navibar-nav > li:active,
.navibar-nav > li.active {
	cursor: pointer;
	background-color: #e96656;
}


/**
 * content
 */
.main-container {
	
}
.content {
	margin-left: 250px;
	padding: 0;
}

.nav-badge-box {
	position: relative;
}
.nav-badge {
	top: 3px;
	right: -3px;
	position: absolute;
	font-size: 10px;
	background-color: #000;
}

.messagebar-overlay {
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0, 0.5);
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
	cursor: pointer;
}
.messagebar-content {
	margin: 0;
	padding: 15px;
	width: 450px;
	height: 100%;
	display: block;
	top: 0;
	right: -450px;
	position: fixed;
	overflow: auto;
	z-index: 3;
	background-color: #fff;
	border-left: 1px solid #e0e0e0;
	font-size: 13px;
}
.messagebar-content > h3 {
	margin: -15px -15px 0 -15px;
	padding: 12px 15px;
	color: #fff;
	background-color: #333;
}
.messagebar-content > .media {
	padding: 10px;
	border-radius: 3px;
}
.messagebar-content > .media:nth-child(odd) {
	background-color: #f5f5f5;
}
.messagebar-title {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.sms-content {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-top: 1px dashed #e0e0e0;
}
.sms-content > p {
	margin: 0;
	padding: 0;
}


/**
 * Grid Editor Form
 */
.altEditor-form {
	background: #f5f5f5;
    padding: 10px 5px;
    border-radius: 3px;
}
.altEditor-form label,
.altEditor-form input {
	font-family: 'Lato', tahoma, arial !important;
	font-size: 12px !important;
}
.altEditor-form-group {
	margin-top: 10px;
}
.altEditor-label {
	text-transform: uppercase;
	font-weight: bold !important;
	color: #111 !important;
}
.altEditor-input-fd {
	width: 100%;
	padding: 5px 10px;
	background: #e0e0e0;
	font-size: 12px;
	border-radius: 3px;
}
.modal-content .altEditor-header {
	padding: 15px 15px 0 15px;
}
.modal-content .altEditor-body {
	padding: 15px;
}
.modal-content .altEditor-footer {
	padding: 0 15px 15px 15px;
}


/**
 * Ranking
 */
.rosie-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.rosie-list li {
	margin: 5px 3px;
}
.rosie-list span {
	display: inline-block;
}
.rosie-list-rank {
	width: 27px;
	display: block;
	padding: 3px;
	margin-right: 5px;
	
	text-align: center;

	color: #000;
	background: #e96656;
	border-radius: 100%;
	border: 1px solid #bb5244;
}
.rosie-list-vacant {
	background: #F5F5F5;
}
.rosie-list-0,
.rosie-list-1,
.rosie-list-2,
.rosie-list-3,
.rosie-list-4,
.rosie-list-5,
.rosie-list-6,
.rosie-list-7,
.rosie-list-8,
.rosie-list-9,
.rosie-list-vacant {
	width: 100%;
	padding: 3px 5px;
	color: #000;
	border-radius: 3px;
}
.rosie-list-0 {
	background: #880E4F;
	color: #fff;
}
.rosie-list-1 {
	background: #AD1457;
	color: #fff;
}
.rosie-list-2 {
	background: #C2185B;
	color: #fff;
}
.rosie-list-3 {
	background: #D81B60;
	color: #fff;
}
.rosie-list-4 {
	background: #E91E63;
	color: #fff;
}
.rosie-list-5 {
	background: #EC407A;
	color: #fff;
}
.rosie-list-6 {
	background: #F06292;
}
.rosie-list-7 {
	background: #F48FB1;
}
.rosie-list-8 {
	background: #F8BBD0;
}
.rosie-list-9 {
	background: #FCE4EC;
}

/**
 * Fixes
 */
.row-fix {
	margin-left: 0;
	margin-right: 0;
}
.col-fix {
	padding-left: 5px;
	padding-right: 5px;
}
.content-fix {
	width: 100%;
	min-width: 420px;
	margin-top: 50px;
	padding: 5px;
	display: block;
	overflow: auto;
}

.navbar-fix {
	margin-top: 40px;
}

.panel-rosie {
	font-size: 12px;
}
.panel-rosie > .panel-heading {
	background-color: #e96656;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500px;
	font-size: 30px;
}

.dataTables_wrapper > .search {
	width: 100%;
    margin: 5px 0 0 0;
	padding: 3px 10px 0 10px;
}
.dataTables_wrapper > .search  > .form-group {
	margin-top: 0;
	padding-bottom: 3px;
	font-size: 15px;
}
.dataTables_filter {
	padding-top: 0;
	padding-bottom: 0;
}
.dataTables_filter > label {
	color: #000 !important;
	font-size: 13px;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #fbe1de;
}

.toolbar-btn-fix {
	padding: 4px 10px 4px 5px !important;
}

.form-label {
	margin-top: 5px !important;
	font-size: 15px !important;
}
.form-section {
	padding: 15px;
	margin: 0 0 15px 0;
	background: #f5f5f5;
	border-radius: 3px;
}
.form-section > .form-group {
    margin: 0;
}
.form-section .form-label {
	font-weight: bold !important;
	text-transform: uppercase;
	font-size: 12px !important;
	color: #000;
}
.form-control-xs {
	font-size: 12px;
}
.hidden {
	display: none;
}

.btn-fab-close {
	width: 25px !important;
	height: 25px !important;
	min-width: 25px !important;	
}

.sidebar-toggle {
	left: -250px !important;
}

.navibar-toggle {
	padding-left: 0 !important;
}

.content-toggle {
	margin-left: 0 !important;
}


.datatable-avatar {
	max-width: 100px;
}