<!doctype html>
<html class="no-js" lang="{{ config('app.locale') }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Rosie -- Booking</title>

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <link rel="apple-touch-icon" href="apple-touch-icon.png" />
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/vendors/materialize/css/bootstrap-material-design.css" />
        <link rel="stylesheet" href="assets/vendors/materialize/css/ripples.css" />
        <link rel="stylesheet" href="assets/css/app.css" />
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <div class="booking-panel">

            <div class="booking-header">
                <h2>Lorem Ipsum</h2>
                <p class="lead">Dolor sit amet adiscitur</p>
            </div>

            <div class="booking-process">
                <div class="booking-steps">Details</div>
                <div class="booking-steps booking-disabled">Choose Day</div>
                <div class="booking-steps booking-disabled">Confirm</div>

                <div class="clearfix"></div>
            </div>
            
            <div id="booking_form" class="booking-form"></div>
        </div>




        <script src="assets/vendors/jquery/jquery-3.3.1.min.js"></script>
        <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/vendors/materialize/js/ripples.min.js"></script>
        <script src="assets/vendors/materialize/js/material.min.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/app.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>